@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <p style="text-align: center;
    margin-top: 300px;
    font-size: 27px;
    font-family: cursive;">欢迎访问NFine调度管理控制台
    <a href="/quartz">进入</a>
    </p>
</div>
