<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

      <target xsi:type="Console" name="DebugCon" layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}"/>

      <target xsi:type="Database" name="Db" connectionString ="Data Source=127.0.0.1;Initial Catalog=NFine_Code_Log;User ID=sa;Password=123456" commandType="StoredProcedure"  commandText="[dbo].[AddEntry_pro]">
          <parameter name="@machineName"    layout="${machinename}" />
          <parameter name="@siteName"       layout="${iis-site-name}" />
          <parameter name="@logged"         layout="${date}" />
          <parameter name="@level"          layout="${level}" />
          <parameter name="@username"       layout="${aspnet-user-identity}" />
          <parameter name="@message"        layout="${message}" />
          <parameter name="@logger"         layout="${logger}" />
          <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
          <parameter name="@serverName"     layout="${aspnet-request:serverVariable=SERVER_NAME}" />
          <parameter name="@port"           layout="${aspnet-request:serverVariable=SERVER_PORT}" />
          <parameter name="@url"            layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
          <parameter name="@method"         layout="${aspnet-request-method}" />
          <parameter name="@userAgent"      layout="${aspnet-request:serverVariable=HTTP_USER_AGENT}" />
          <parameter name="@contentType"    layout="${aspnet-request:header=Content-Type}" />
          <parameter name="@referer"        layout="${aspnet-request:header=Referer}" />
          <parameter name="@https"          layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />
          <parameter name="@serverAddress"  layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
          <parameter name="@remoteAddress"  layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
          <parameter name="@callSite"       layout="${callsite}" />
          <parameter name="@exception"      layout="${exception:tostring}" />
      </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" maxlevel="Info" final="true" />   BlackHole--> 
    <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
    <logger name="Console.*" minlevel="Trace" writeTo="DebugCon" final="true"  />
    <logger name="Error.*" minlevel="Error" writeTo="Db" />  
  </rules>
</nlog>
