<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="all" xsi:type="File" fileName="logs\nlog-all-${shortdate}.log"  layout="${date:format=HH\:MM\:ss} ${level} ${logger} ${message}  ${exception}" />
        <target name="allconsole" xsi:type="Console"   layout="${date:format=HH\:MM\:ss} ${level} ${logger} ${message}" />
        <target name="jobFile" xsi:type="File" fileName="logs\nlog-job-${shortdate}.log" layout="${date:format=HH\:MM\:ss} ${level} ${logger} ${message}  ${exception}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="all" />
        <logger name="*" minlevel="Error" writeTo="allconsole"/>
        <logger name="NFine.Scheduler.Jobs.*" minlevel="Trace" writeTo="jobFile"/>
    </rules>
</nlog>
